.category-tile {
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    display: table-cell;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.category-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: 0.5;
}
.category-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}


