#menu-categories-title {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'PT Sans', sans-serif;
}
#menu-categories-title + div {
    margin-bottom: 30px;
    margin-top: 0;
    font-family: 'PT Sans', sans-serif;
}
.menu-item-tile {
    margin-bottom: 2px;
}
.menu-item-tile hr {
    width: 80%;
}
.menu-item-tile .menu-item-price {
    font-size: 1.1em;
    text-align: right;
    margin-top: -15px;
    margin-bottom: -15px;
}
.menu-item-tile .menu-item-price span {
    font-size: 10px;
}
.menu-item-photo {
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 250px;
}
.menu-item-photo div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    background-color: #557c3e;
    text-align: center;
}
.menu-item-description {
    padding-right: 30px;
    font-family: 'PT Sans', sans-serif;
}
h3.menu-item-title {
    margin: 0 0 10px;
    font-family: 'PT Sans', sans-serif;
}
.menu-item-details {
    font-size: .9em;
    font-style: italic;
}